PORT=3000

# Twilio
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_VERIFY_SERVICE_SID=your_twilio_service_sid
ACTION_TWILIO_SEND=twilio_action_send_code
ACTION_TWILIO_CONF=twilio_conf

# Basic Authentication
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=supersecurepassword

# CORS Whitelist
CORS_ORIGINS=https://tuappmovil.com,capacitor://localhost

# Google Recaptcha
RECAPTCHA_BASE_URL=your_recaptcha_base_url
RECAPTCHA_API_KEY=your_recaptcha_api_key

# Firebase
FIREBASE_API_KEY=firebase_api_key

# JWT
JWT_SECRET=super_jwt_secret_string

# HMAC
HMAC_SECRET=super_hmac_secret_string
